extra-streamlit-components
google-cloud-bigquery[pandas]
google-cloud-bigquery-storage
matplotlib
numpy<2.0.0
polars
plotly
python-dotenv
requests
scikit-learn
seaborn
st-pages
statsmodels
streamlit>=1.42.0
streamlit-aggrid
streamlit-extras
streamlit-oauth
streamlit-option-menu
sweetviz
